<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocumentPortal" closeTimeout="Infinite"
                    openTimeout="Infinite" receiveTimeout="Infinite" sendTimeout="Infinite"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="Emex.Contragent.Service.EmexContragentService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3200/Document" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IDocumentPortal" contract="DocumentService.IDocumentPortal"
                name="BasicHttpBinding_IDocumentPortal" />
            <endpoint address="http://localhost:4702/Contragent/" binding="basicHttpBinding"
                bindingConfiguration="Emex.Contragent.Service.EmexContragentService"
                contract="ContragentService.IEmexContragentService" name="Emex.Contragent.Service.EmexContragentService" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="reportFolder" value="C:\Generated Documents"/>
  </appSettings>
</configuration>