<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDocumentPortal" maxReceivedMessageSize="2147483647" closeTimeout="10675199.02:48:05.4775807" openTimeout="10675199.02:48:05.4775807"
                         receiveTimeout="10675199.02:48:05.4775807" sendTimeout="10675199.02:48:05.4775807"
                         maxBufferSize="2147483647"
                         maxBufferPoolSize="2147483647"/>
            </basicHttpBinding>
            
        </bindings>
        <client>
            <endpoint address="http://localhost:3200/Document" binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IDocumentPortal" contract="DocumentService.IDocumentPortal"
                name="BasicHttpBinding_IDocumentPortal" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="reportFolder" value="C:\Generated Documents"/>
  </appSettings>
</configuration>